body {
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

header {
  box-sizing: border-box;
  height: 70px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  padding: 15px;
}

header img {
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
header div:first-of-type span {
  color: white;
  font-weight: 900;
  font-size: 20px;
}

nav {
  position: absolute;
  left: -120px;
  background-color: gray;
  height: calc(100% - 70px);
}

nav:hover {
  left: 0;
  transition: all 0.2s;
}

nav > ul {
  text-align: right;
  list-style-type: none;
}

nav ul li.active {
  background-color: rgb(193, 193, 193);
}
nav ul li a {
  font-size: 20px;
  display: block;
  padding: 10px;
}
nav ul li a i {
  font-size: 30px;
  color: black;
  padding: 10px;
}

main {
  padding: 0 50px;
}

.container {
  width: 1440px;
  margin: 0 auto;
}
