/* Général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f4f4f4;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 20px;
}

header img {
  width: 80px;
  border-radius: 50%;
  mix-blend-mode: lighten;
}

header nav ul li {
  display: inline-block;
  margin-right: 30px;
}

header nav ul li a:hover {
  padding-bottom: 4px;
  border-bottom: 3px solid white;
  transition: background-color 0.3s, color 0.3s;
}

/* Container principal */
.container {
  display: flex;
  flex: 1;
}

/* Sidebar */
.sidebar {
  width: 70px;
  background-color: #333;
  color: white;
  transition: width 0.3s;
  overflow: hidden;
  min-height: 100%;
}

.sidebar:hover {
  width: 250px;
}

.sidebar ul {
  list-style: none;
  padding: 20px 0;
}

.sidebar li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s, color 0.3s;
}

.sidebar li a:hover {
  background-color: #575757;
}

.sidebar i {
  font-size: 1.5em;
  margin-right: 10px;
}

.sidebar span {
  opacity: 0;
  transition: opacity 0.3s;
}

.sidebar:hover span {
  opacity: 1;
}

/* Main Content */
.main-content {
  flex: 1;
  padding: 100px;
  background-color: #fff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.actions {
  display: flex;
  gap: 10px;
}

.search-bar {
  padding: 10px;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 100%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.search-button i {
  width: 15px;
}

.add-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.add-button:hover,
.search-button:hover {
  background-color: #45a049;
}

/* Table */
.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.data-table th {
  background-color: #f4f4f4;
}

.data-table tr:hover {
  background-color: #f9f9f9;
}

.edit-btn,
.delete-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-btn {
  background-color: #007bff;
  color: white;
}

.edit-btn:hover {
  background-color: #0056b3;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  margin-left: 5px;
}

.delete-btn:hover {
  background-color: #c82333;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.page-btn {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background-color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.page-btn:hover {
  background-color: #f0f0f0;
}

.page-btn.active {
  background-color: #007bff;
  color: white;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}
